; === Configuration file for moon Moon(Earth) ===
Name = Moon
Module = Moon
ErrorLimit = 1e-5

; === Physical Parameters ===
Mass = 7.347664e+22
Size = 1.738e6                   ; mean radius
SidRotPeriod = 2360591.597       ; = 27.321662 days
SidRotOffset = 0.75049	         ; rotation offset at J2000.0
Obliquity =  0.02692024985275    ; rad(1.5424167)
LAN = 0                          ; ascending node of equator - CHECK!

; === Visualisation Parameters ===
MaxPatchResolution = 9           ; highest sphere patch level

; === Surface Bases ===
BEGIN_SURFBASE
Site A (SW of Copernicus): -26.6 +5.6
Site B (Alphonsus Floor): -2.9 -12.6
Site C (Tycho North Flank): -11.1 -40.9
Site D (Grimaldi): -68.0 -3.5
Site E (Orientale): -89.5 -17.5
Tranquility (Site 1): +34.0 +2.6667
Medii (Site 3): -1.2992 +0.3528
Procellarum (Site 4): -36.4167 -3.5
Procellarum (Site 5): -41.8992 +1.6781
ProjectApollo\Tranquillity: +23.4333  +0.6875
Procellarum: -23.4193 -3.0138
ProjectApollo\FraMauro: -17.4713 -3.6454
Hadley: +3.63400 +26.13224
Descartes: +15.49859 -8.97341
tauruslittrow: +30.7748 +20.1881
Marius_Hills: -55.56052 +14.24594
Copernicus: -20.0454 9.84652 

END_SURFBASE

; === Fixed surface observation points ===
BEGIN_OBSERVER
Site A (SW of Copernicus):Tower: -26.6 +5.6 23.80
Site B (Alphonsus Floor):Tower: -2.9 -12.6 23.80
Site C (Tycho North Flank):Tower: -11.1 -40.9 23.80
Site D (Grimaldi):Tower: -68.0 -3.5 23.80
Site E (Orientale): -89.5 -17.5 23.80
Tranquility (Site 1):Tower: +34.0 +2.6667 23.80
Medii (Site 3):Tower: -1.2992 +0.3528 23.80
Procellarum (Site 4):Tower: -36.4167 -3.5 23.80
Procellarum (Site 5):Tower: -41.8992 +1.6781 23.80
Tranquility:Tower: +23.4351 +0.6893 23.80
Procellarum:Tower: -23.4211 -3.0156 23.80
Fra Mauro:Tower: -17.4731 -3.6436 23.80
Hadley:Tower: +3.6358 +26.1340 23.80
Descartes:Tower: +15.5003 -8.9752 23.80
tauruslittrow:Tower: +30.7766 +20.1899 23.80
Marius:Tower: -55.5623 +14.2477 23.80
Copernicus:Tower: -20.0016 +9.6704 23.80
END_OBSERVER

;This is a version of the Moon.cfg file containing various lunar landing sites that were considered during the period 1964-1972.
;Sites A-C are derived from the Boeing 'Intial Concept of Lunar Exploration systems for Apollo' and were proposed lunar base locations.
;Site D is derived from the 1968 Stanford-Ames 'Moonlab' study for a post Apollo moonbase in the crater Grimaldi.
;Site E is derived from the 1971 North American/Rockwell 'Lunar Base Synthesis Study' for the Integrated Manned Programme. It is located inside a small crater in Mare Orientale. Coordinates are for the approximate centre of the crater the base was to be located in.
;Sites 1,3-5 were the original five planned targets for the first Apollo mission. Historically Apollo 11 went to Site 2 (Tranquility Base).