; === Configuration file for vessel class Saturn 1B ===
ClassName = Saturn1b
Module = ProjectApollo\Saturn1b
EnableFocus = TRUE
Help = Project_Apollo,Project_Apollo
;
; Specify class-specific fixed values.
;
SATTYPE 2
TCP -19.53

BEGIN_ATTACHMENT
P 0 0 0    0 0 -1    0 1 0 LV
C 0 0 0    0 0  1    1 0 0 FloatBag
C 0 0 0    0 0  1    1 0 0 Chute
END_ATTACHMENT
