# CVS global ignores
RCS
SCCS
CVS
CVS.adm
RCSLOG
cvslog.*
tags
TAGS
.make.state
.nse_depinfo
*~
#*
.#*
,*
_$*
*$
*.old
*.bak
*.BAK
*.orig
*.rej
.del-*
*.a
*.olb
*.o
*.obj
*.so
*.exe
*.Z
*.elc
*.ln
core

# Project ignores (converted from .cvsignore files)
/Config/ProjectApollo/*.launchpad.cfg
/Config/ProjectApollo/Joystick.ini
/Config/MFD/ScriptMFD.org.cfg
/Config/MFD/TestMFD1.cfg
/Config/MFD/TestMFD2.cfg
/Config/MFD/Attitude.cfg
/Config/MFD/Default.cfg
/Config/CSphere
/Config/Modules
/Config/Al_anbar.cfg
/Config/Alcantara.cfg
/Config/Brighton.cfg
/Config/Callisto.cfg
/Config/Canaveral.cfg
/Config/Ariel.cfg
/Config/Atlantis.cfg
/Config/Atlantis_SRB.cfg
/Config/Atlantis_Tank.cfg
/Config/Baikonur.cfg
/Config/Barent_sea.cfg
/Config/Base.cfg
/Config/Earth
/Config/Sun
/Config/Uranus
/Config/Venus
/Config/Jupiter
/Config/Mars
/Config/Mercury
/Config/Moon
/Config/Neptune
/Config/Saturn
/Config/Sol
/Config/Proteus.cfg
/Config/Rhea.cfg
/Config/salto_di_quirra.cfg
/Config/san_marco.cfg
/Config/Saturn.cfg
/Config/ShuttleA.cfg
/Config/ShuttlePB.cfg
/Config/Sol.cfg
/Config/Carina.cfg
/Config/China_lake.cfg
/Config/Deimos.cfg
/Config/Deltaglider.cfg
/Config/dg-s.cfg
/Config/Dione.cfg
/Config/Doberai.cfg
/Config/Dragonfly.cfg
/Config/Earth.cfg
/Config/Edwards.cfg
/Config/Enceladus.cfg
/Config/Europa.cfg
/Config/Galileo.cfg
/Config/Ganymede.cfg
/Config/Gran_canaria.cfg
/Config/Habana.cfg
/Config/hammaguira.cfg
/Config/hst.cfg
/Config/Inyoken.cfg
/Config/Io.cfg
/Config/iss.cfg
/Config/jingyu.cfg
/Config/jiuquan.cfg
/Config/Jupiter.cfg
/Config/kagoshima.cfg
/Config/kapustin_yar.cfg
/Config/Kourou.cfg
/Config/ldef2.cfg
/Config/ldef.cfg
/Config/Leonardo_mplm.cfg
/Config/Mars.cfg
/Config/matagorda.cfg
/Config/Mercury.cfg
/Config/Mimas.cfg
/Config/Mir.cfg
/Config/Miranda.cfg
/Config/Module1.cfg
/Config/Module2.cfg
/Config/Moon.cfg
/Config/mplm.cfg
/Config/musudan.cfg
/Config/nasa_mmu.cfg
/Config/Neptune.cfg
/Config/Nereid.cfg
/Config/Oberon.cfg
/Config/Olympus.cfg
/Config/overberg.cfg
/Config/palmachim.cfg
/Config/Peenemunde.cfg
/Config/Phobos.cfg
/Config/Plesetsk.cfg
/Config/point_mugu.cfg
/Config/ProjectAlpha_ISS.cfg
/Config/Vandenberg.cfg
/Config/Venus.cfg
/Config/Wallops_island.cfg
/Config/Wheel.cfg
/Config/White_Sands.cfg
/Config/Woomera.cfg
/Config/Wuzhai.cfg
/Config/Xichang.cfg
/Config/sriharikota.cfg
/Config/Sun.cfg
/Config/svobodniy.cfg
/Config/taiyuan.cfg
/Config/tanegashima.cfg
/Config/Tethys.cfg
/Config/Titan.cfg
/Config/Titania.cfg
/Config/transx.cfg
/Config/Triton.cfg
/Config/Umbriel.cfg
/Config/Uranus.cfg
/Config/Marius_Hills.cfg
/Config/Procellarum.cfg
/Config/tauruslittrow.cfg
/Config/Copernicus.cfg
/Config/Descartes.cfg
/Config/Fra_Mauro.cfg
/Config/Hadley.cfg
/Config/ShuttleA_pl.cfg
/Config/Callisto
/Config/Io
/Config/Europa
/Config/Ganymede
/Config/Titan
/Config/Vessels
/Config/Copy\ of\ Jupiter.cfg
/Config/Iapetus.cfg
/Config/Hyperion.cfg
/Config/IMFD.cfg
/Config/IMFD5.cfg
/Config/Spacecraft
/Config/CSConf.cfg
/Config/IFPMain.cfg
/Config/Sol_r7_V.cfg
/Config/GC/XR2Ravenstar.cfg
/Config/GC/DeltaGlider.cfg
/Config/GC/DeltaGlider_Blue.cfg
/Config/GC/DG-S.cfg
/Config/GC/VesselSkin.cfg
/Doc/Orbiter.pdf
/Doc/ShuttleA.pdf
/Doc/TransXmanualv3.pdf
/Doc/050116change.txt
/Doc/050126change.txt
/Doc/Atlantis.pdf
/Doc/Atlantis_MMU_Sat_30.pdf
/Doc/Change.pdf
/Doc/Credit.pdf
/Doc/Dragonfly.pdf
/Doc/2005\ Edition\ log.txt
/Doc/2005\ Edition\ patches.txt
/Doc/Technotes
/Doc/2006\ Edition\ log.txt
/Doc/ScenarioEditor.pdf
/Doc/DeltaGlider.pdf
/Doc/InterplanetaryMFD
/Doc/OrbiterConfig.pdf
/Doc/TransX
/Doc/D3D9Client_forDeveloppers.doc
/Doc/LunarTransferMFD
/Doc/Vostok
/Doc/OrbiterSound\ Documentation
/Doc/AttitudeMFD\ Readme.txt
/Doc/AttitudeMFD\ Changelog.txt
/Doc/D3D9Reflections.pdf
/Doc/D3D9Client.pdf
/Sound/Vessel
/Sound/help.html
/Sound/README\ FIRST.txt
/Sound/Sequential_Editor.exe
/Sound/version.txt
/Sound/OrbiterSound_SDK
/Sound/Radio
/Sound/mp3
/Sound/cfg
/Sound/docking_sound
/Sound/r7_V
/Orbitersdk/samples/ProjectApollo/Build/VC6/Debug
/Orbitersdk/samples/ProjectApollo/Build/VC6/Release
/Orbitersdk/samples/ProjectApollo/Build/VC6/*.opt
/Orbitersdk/samples/ProjectApollo/Build/VC6/*.plg
/Orbitersdk/samples/ProjectApollo/Build/VC6/*.ncb
/Orbitersdk/samples/ProjectApollo/Build/VC6/*.lib
/Orbitersdk/samples/ProjectApollo/Build/VC6/*.bsc
/Orbitersdk/samples/ProjectApollo/Build/VC2005/*.sln
/Orbitersdk/samples/ProjectApollo/Build/VC2005/*.suo
/Orbitersdk/samples/ProjectApollo/Build/VC2005/Release
/Orbitersdk/samples/ProjectApollo/Build/VC2005/Debug
/Orbitersdk/samples/ProjectApollo/Build/VC2005/*.ncb
/Orbitersdk/samples/ProjectApollo/Build/VC2005/*.vcproj.*
/Orbitersdk/samples/ProjectApollo/Build/VC2010/Debug
/Orbitersdk/samples/ProjectApollo/Build/VC2010/Release
/Orbitersdk/samples/ProjectApollo/Build/VC2008/*.sln
/Orbitersdk/samples/ProjectApollo/Build/VC2008/*.suo
/Orbitersdk/samples/ProjectApollo/Build/VC2008/Release
/Orbitersdk/samples/ProjectApollo/Build/VC2008/Debug
/Orbitersdk/samples/ProjectApollo/Build/VC2008/*.ncb
/Orbitersdk/samples/ProjectApollo/Build/VC2008/*.vcproj.*
/Orbitersdk/samples/ProjectApollo/Bitmaps/Obsolete Bitmaps/Thumbs.db
/Orbitersdk/samples/ProjectApollo/Bitmaps/Thumbs.db
/Orbitersdk/samples/ProjectApollo/Resources.aps
/Orbitersdk/samples/ProjectApollo/LEMResources.clw
/Orbitersdk/samples/ProjectApollo/Resources.clw
/Orbitersdk/samples/ProjectApollo/ProjectApollo.ncb
/Orbitersdk/samples/ProjectApollo/ProjectApollo.opt
/Orbitersdk/samples/ProjectApollo/LEMResources.aps
/Orbitersdk/samples/ProjectApollo/ProjectApollo2005.ncb
/Orbitersdk/samples/ProjectApollo/ProjectApollo2005.suo
/Orbitersdk/samples/ProjectApollo/MFDResources.aps
/Orbitersdk/samples/ProjectApollo/Dox
/Orbitersdk/samples/ProjectApollo/ProjectApollo2008.suo
/Orbitersdk/samples/ProjectApollo/ProjectApollo2008.ncb
/Orbitersdk/samples/ProjectApollo/ProjectApollo2010.suo
/Orbitersdk/samples/ProjectApollo/ProjectApollo2010.ncb
/Orbitersdk/samples/ProjectApollo/src_sys/PanelSDK/PanelSDK.lib
/Orbitersdk/samples/ShuttleA
/Orbitersdk/samples/ShuttlePB
/Orbitersdk/samples/Atlantis
/Orbitersdk/samples/CustomMFD
/Orbitersdk/samples/DeltaGlider
/Orbitersdk/samples/DialogTemplate
/Orbitersdk/samples/Dragonfly
/Orbitersdk/samples/Dragonfly_old
/Orbitersdk/samples/FlightData
/Orbitersdk/samples/Framerate
/Orbitersdk/samples/hst
/Orbitersdk/samples/MFDTemplate
/Orbitersdk/samples/mmu
/Orbitersdk/samples/Rcontrol
/Orbitersdk/samples/ShuttleA\ MkII
/Orbitersdk/samples/ExtMFD
/Orbitersdk/samples/Meshdebug
/Orbitersdk/samples/ScnEditor
/Orbitersdk/samples/LaunchpadParamTemplate
/Orbitersdk/samples/MG_Atlantis
/Orbitersdk/samples/LuaScript
/Orbitersdk/samples/ScriptMFD
/Orbitersdk/samples/ScriptVessel
/Orbitersdk/samples/Solarsail
/Orbitersdk/samples/r7
/Orbitersdk/utils
/Orbitersdk/doc
/Orbitersdk/include
/Orbitersdk/lib
/Orbitersdk/html
/Orbitersdk/IMFD
/Orbitersdk/resources
/Orbitersdk/D3D9Client
/Meshes/DG
/Meshes/dg
/Meshes/shuttle_eva_plat.msh
/Meshes/ShuttleA.msh
/Meshes/ShuttlePB.msh
/Meshes/Surf1.msh
/Meshes/Tarmac2.msh
/Meshes/Taxiway1.msh
/Meshes/Vab.msh
/Meshes/Wheel.msh
/Meshes/Atlantis.msh
/Meshes/Atlantis_SRB.msh
/Meshes/Atlantis_tank.msh
/Meshes/Atlantis_tank_old.msh
/Meshes/Carina.msh
/Meshes/Carina_cradle.msh
/Meshes/Cyl.msh
/Meshes/Deimos.msh
/Meshes/docking.msh
/Meshes/Dragonfly.msh
/Meshes/Habana_taxiway.msh
/Meshes/HST_STS-109.msh
/Meshes/iss.msh
/Meshes/ksc_1.msh
/Meshes/ksc_2.msh
/Meshes/ksc_3.msh
/Meshes/ksc_4.msh
/Meshes/ksc_5.msh
/Meshes/ksc_7.msh
/Meshes/ksc_8.msh
/Meshes/ksc_9.msh
/Meshes/ldef.msh
/Meshes/Leonardo_mplm.msh
/Meshes/Luna-OB1.msh
/Meshes/Mir.msh
/Meshes/mmu.msh
/Meshes/Module1.msh
/Meshes/Module2.msh
/Meshes/mplm.msh
/Meshes/Phobos.msh
/Meshes/ProjectAlpha_ISS.msh
/Meshes/ShuttleA
/Meshes/Hyperion.msh
/Meshes/Atlantis
/Meshes/KSC_7.msh
/Meshes/KSC_8.msh
/Meshes/KSC_9.msh
/Meshes/LDEF.msh
/Meshes/ISS.msh
/Meshes/KSC_1.msh
/Meshes/KSC_2.msh
/Meshes/KSC_3.msh
/Meshes/KSC_4.msh
/Meshes/KSC_5.msh
/Meshes/SolarSail.msh
/Meshes/r7_V
/Meshes/D3D9Arrow.msh
/Html/Vessels/DeltaGlider.chm
/Html/Vessels/dg-s.chm
/Html/Vessels/Atlantis.chm
/Html/Vessels/DG-S.chm
/Html/Orbiter.css
/Html/Scenarios
/Html/orbiter.chm
/Html/Plugin
/Html/OrbitPrimer.chm
/Html/credit.chm
/Html/Script
/Script/attctrl.lua
/Script/Atlantis
/Script/Challenges
/Script/Demo
/Script/Demos
/Script/DG
/Textures/ProjectApollo/LowRes/Thumbs.db
/Textures/ProjectApollo/VC/Thumbs.db
/Textures/ProjectApollo/*.bmp
/Textures/ProjectApollo/Thumbs.db
/Textures/csphere
/Textures/Cockpit
/Textures/DG
/Textures/KSC_tiles
/Textures/036mod1.dds
/Textures/036panel.dds
/Textures/036point.dds
/Textures/adi.dds
/Textures/dg
/Textures/036mb.dds
/Textures/036mc1.dds
/Textures/036mc3.dds
/Textures/036Metal.dds
/Textures/036mirm.dds
/Textures/Radiator2.dds
/Textures/Reentry.dds
/Textures/Rhea.tex
/Textures/Roof01.dds
/Textures/Roof02.dds
/Textures/rough1.dds
/Textures/Runway1.dds
/Textures/Runway2.dds
/Textures/rwlight.dds
/Textures/Saturn.tex
/Textures/Saturn_ring.tex
/Textures/sha1cp1.dds
/Textures/sha1ft1.dds
/Textures/sha1tx1.dds
/Textures/sha1tx2.dds
/Textures/sha1tx3.dds
/Textures/sha1tx4.dds
/Textures/sha1tx5.dds
/Textures/Shutex2_512.dds
/Textures/ShuttlePB.dds
/Textures/ShuttlePBwing.dds
/Textures/Solar3.dds
/Textures/Solar3s.dds
/Textures/solpanel.dds
/Textures/srb.dds
/Textures/srbl.dds
/Textures/srbu.dds
/Textures/ssmec.dds
/Textures/Star.dds
/Textures/Station2.dds
/Textures/Tank.dds
/Textures/Taxiway1.dds
/Textures/Taxiway1_n.dds
/Textures/Taxiway2.dds
/Textures/Taxiway2_n.dds
/Textures/Tethys.tex
/Textures/Titan.tex
/Textures/Titania.tex
/Textures/tred.dds
/Textures/Triton.tex
/Textures/Umbriel.tex
/Textures/Uranus.tex
/Textures/Uranus_ring.tex
/Textures/vab_bk01.dds
/Textures/vab_fr01.dds
/Textures/vab_fr02.dds
/Textures/vab_tl1.dds
/Textures/vab_tl2.dds
/Textures/Venus.tex
/Textures/Venus_cloud.tex
/Textures/visor.dds
/Textures/Wall01.dds
/Textures/Ariel.tex
/Textures/Atlantis2_512.dds
/Textures/Atlantis.dds
/Textures/Ball.dds
/Textures/BlndcircA.dds
/Textures/BlndcircB.dds
/Textures/BlndcircC.dds
/Textures/bulk2.dds
/Textures/Callisto.tex
/Textures/Cape17.dds
/Textures/Cape18.dds
/Textures/Cape19.dds
/Textures/Cape20.dds
/Textures/Cape22.dds
/Textures/Cape23.dds
/Textures/Cape23_n.dds
/Textures/Capsule2.dds
/Textures/car-hull.dds
/Textures/cloud1.dds
/Textures/Concrete.dds
/Textures/Contrail1.dds
/Textures/Contrail2.dds
/Textures/Contrail3.dds
/Textures/Contrail4.dds
/Textures/d_ring.dds
/Textures/Deimos.dds
/Textures/dfly1x.dds
/Textures/dfly3x.dds
/Textures/dfly4x.dds
/Textures/dfly5x.dds
/Textures/dfly6x.dds
/Textures/dfly7x.dds
/Textures/dgmk3_2.dds
/Textures/dgmk3_3.dds
/Textures/dgmk3_3D1.dds
/Textures/dgmk3_3D2.dds
/Textures/dgmk3_4.dds
/Textures/dgmk3_5.dds
/Textures/Dione.tex
/Textures/door01.dds
/Textures/earth.dat
/Textures/Earth.tex
/Textures/Earth_1_W0230_N0080.dds
/Textures/Earth_1_W0231_N0080.dds
/Textures/Earth_1_W0231_N0081.dds
/Textures/Earth_1_W0231_N0082.dds
/Textures/Earth_1_W0232_N0080.dds
/Textures/Earth_1_W0232_N0081.dds
/Textures/Earth_1_W0232_N0082.dds
/Textures/Earth_2_w0460_n0163.dds
/Textures/Earth_2_W0460_N0164.dds
/Textures/EARTH_3_W0917_N0323.dds
/Textures/EARTH_3_W0917_N0324.dds
/Textures/EARTH_3_W0917_N0325.dds
/Textures/EARTH_3_W0918_N0323.dds
/Textures/EARTH_3_W0918_N0324.dds
/Textures/EARTH_3_W0918_N0325.dds
/Textures/EARTH_3_W0918_N0326.dds
/Textures/EARTH_3_W0919_N0323.dds
/Textures/EARTH_3_W0919_N0324.dds
/Textures/EARTH_3_W0919_N0325.dds
/Textures/Earth_3_W0920_N0323.dds
/Textures/Earth_3_W0920_N0324.dds
/Textures/Earth_3_w0920_n0325.dds
/Textures/Earth_cloud.tex
/Textures/Earth_lights.tex
/Textures/Earth_lmask.bin
/Textures/Earth_lmask.tex
/Textures/Earth_tile.bin
/Textures/Earth_tile.tex
/Textures/EarthM.bmp
/Textures/Enceladus.tex
/Textures/Europa.tex
/Textures/eva-nasa.dds
/Textures/eva-usa.dds
/Textures/Exhaust2.dds
/Textures/Exhaust.dds
/Textures/exhaust_atrcs.dds
/Textures/Exhaust_atsme.dds
/Textures/Exhaust_atsrb.dds
/Textures/fcd01.dds
/Textures/fcd01_n.dds
/Textures/fcd02.dds
/Textures/Fcd02_n.dds
/Textures/fcd03.dds
/Textures/Fcd03_n.dds
/Textures/fcd04.dds
/Textures/FCD04_n.dds
/Textures/fcd05.dds
/Textures/Fcd05_n.dds
/Textures/fcd06.dds
/Textures/Fcd06_n.dds
/Textures/fcd07.dds
/Textures/fcd08.dds
/Textures/fcd09.dds
/Textures/fcd10.dds
/Textures/Fcd11.dds
/Textures/Fcd11_n.dds
/Textures/Fcd12.dds
/Textures/Fcd12_n.dds
/Textures/Fcd13.dds
/Textures/Fcd13_n.dds
/Textures/fs_arid.dds
/Textures/fs_broadf.dds
/Textures/fs_Broads_m.dds
/Textures/fs_urban.dds
/Textures/fs_urbburb.dds
/Textures/fs_water.dds
/Textures/Ganymede.tex
/Textures/graple.dds
/Textures/Hangrail.dds
/Textures/Hangrail_n.dds
/Textures/Hatch.dds
/Textures/Horizon.dds
/Textures/hst_nasa.dds
/Textures/HST_New_Solar_array.dds
/Textures/Io.tex
/Textures/IoM.bmp
/Textures/iss_dc.dds
/Textures/iss_dcs.dds
/Textures/iss_un.dds
/Textures/issb2.dds
/Textures/issb3.dds
/Textures/issb4.dds
/Textures/issb.dds
/Textures/issbs.dds
/Textures/issbso2.dds
/Textures/issbso.dds
/Textures/isscov2.dds
/Textures/isscover.dds
/Textures/isscup.dds
/Textures/issdish.dds
/Textures/issdot.dds
/Textures/issesa.dds
/Textures/isshand.dds
/Textures/issins.dds
/Textures/issItalian.dds
/Textures/issku1.dds
/Textures/issku2.dds
/Textures/issku.dds
/Textures/issleo.dds
/Textures/issmb.dds
/Textures/issmod.dds
/Textures/issp2.dds
/Textures/isspanel.dds
/Textures/issrad.dds
/Textures/issred.dds
/Textures/isssolar.dds
/Textures/issusa.dds
/Textures/issusaf.dds
/Textures/isszmod.dds
/Textures/Jupiter.tex
/Textures/lcc_drs.dds
/Textures/lcc_wnds.dds
/Textures/ldef.dds
/Textures/LDEFend.dds
/Textures/lights1.dds
/Textures/Lpad01.dds
/Textures/Lpad01_n.dds
/Textures/Lpad02.dds
/Textures/Lpad02_n.dds
/Textures/Mars.tex
/Textures/MarsM.bmp
/Textures/Mc2.dds
/Textures/Mc.dds
/Textures/Mercury.tex
/Textures/metalcon.dds
/Textures/Mimas.tex
/Textures/Miranda.tex
/Textures/Mirblanket.dds
/Textures/Mirm1.dds
/Textures/mmu2.dds
/Textures/mmu3.dds
/Textures/mmu4.dds
/Textures/mmu6.dds
/Textures/mmu.dds
/Textures/mmu_nasa.dds
/Textures/mmu_red.dds
/Textures/Monorail.dds
/Textures/Monorail_n.dds
/Textures/Moon.tex
/Textures/MoonM.bmp
/Textures/nasda.dds
/Textures/Neptune.tex
/Textures/Nereid.tex
/Textures/Oberon.tex
/Textures/ods_512.dds
/Textures/panels.dds
/Textures/Phobos.dds
/Textures/Proteus.tex
/Textures/questcov.dds
/Textures/ShuttleA
/Textures/Dragonfly
/Textures/Ball3.dds
/Textures/Ball2.dds
/Textures/CallistoM.bmp
/Textures/DeimosM.BMP
/Textures/EuropaM.bmp
/Textures/JupiterM.BMP
/Textures/GanymedeM.BMP
/Textures/Hyperion.tex
/Textures/Iapetus.tex
/Textures/PhobosM.BMP
/Textures/SaturnM.BMP
/Textures/Titan_cloud.tex
/Textures/TitanM.BMP
/Textures/TritonM.bmp
/Textures/UranusM.BMP
/Textures/waves.dds
/Textures/GanymedeM.BMP
/Textures/Hyperion.tex
/Textures/Iapetus.tex
/Textures/JupiterM.BMP
/Textures/NeptuneM.BMP
/Textures/Atlantis
/Textures/Lpad02a.dds
/Textures/Lpad02a_n.dds
/Textures/Triton_cloud.tex
/Textures/IapetusM.bmp
/Textures/moon3d
/Textures/GanymedeM.bmp
/Textures/NeptuneM.bmp
/Textures/JupiterM.bmp
/Textures/Moon_1_E0066_N0001.dds
/Textures/Moon_1_E0066_N0002.dds
/Textures/Moon_1_E0067_N0001.dds
/Textures/Moon_1_E0067_N0002.dds
/Textures/SaturnM.bmp
/Textures/UranusM.bmp
/Textures/TritonM.BMP
/Textures/IFP
/Textures/Thumbs.db
/Textures/036MC3.dds
/Textures/036MB.dds
/Textures/036MC1.dds
/Textures/Earth_4_W1836_N0650.dds
/Textures/Earth_4_W1836_N0651.dds
/Textures/Earth_4_W1837_N0650.dds
/Textures/Earth_4_W1837_N0651.dds
/Textures/Earth_4_W1838_N0650.dds
/Textures/Earth_4_W1838_N0651.dds
/Textures/Contrail1a.dds
/Textures/DeimosM.bmp
/Textures/Earth_2_W0461_N0160.dds
/Textures/Earth_2_W0461_N0161.dds
/Textures/Earth_2_W0461_N0162.dds
/Textures/Earth_2_W0461_N0163.dds
/Textures/Earth_2_W0462_N0160.dds
/Textures/Earth_2_W0462_N0161.dds
/Textures/Earth_2_W0462_N0162.dds
/Textures/Earth_2_W0462_N0163.dds
/Textures/Earth_3_W0917_N0320.dds
/Textures/Earth_3_W0917_N0323.dds
/Textures/Earth_3_W0917_N0324.dds
/Textures/Earth_3_W0917_N0325.dds
/Textures/Earth_3_W0918_N0320.dds
/Textures/Earth_3_W0918_N0321.dds
/Textures/Earth_3_W0918_N0322.dds
/Textures/Earth_3_W0918_N0323.dds
/Textures/Earth_3_W0918_N0324.dds
/Textures/Earth_3_W0918_N0326.dds
/Textures/Earth_3_W0919_N0320.dds
/Textures/Earth_3_W0919_N0321.dds
/Textures/Earth_3_W0919_N0322.dds
/Textures/Earth_3_W0919_N0323.dds
/Textures/Earth_3_W0919_N0324.dds
/Textures/Earth_3_W0919_N0326.dds
/Textures/Earth_3_W0919_N0327.dds
/Textures/Earth_3_W0920_N0320.dds
/Textures/Earth_3_W0920_N0321.dds
/Textures/Earth_3_W0920_N0322.dds
/Textures/Earth_3_W0920_N0325.dds
/Textures/Earth_3_W0920_N0326.dds
/Textures/Earth_3_W0920_N0327.dds
/Textures/Earth_4_W1835_N0650.dds
/Textures/Earth_4_W1835_N0651.dds
/Textures/TitanM.bmp
/Textures/font1tex.dds
/Textures/goldfoil.dds
/Textures/HST_NASA.dds
/Textures/iapetus.tex
/Textures/Jupiter_cloud.tex
/Textures/LDEF.dds
/Textures/ODS_512.dds
/Textures/PhobosM.bmp
/Textures/tile1.dds
/Textures/D3D9RwyLight.dds
/Textures/Null.dds
/Textures/r7_V
/Scenarios/Space\ Stations
/Scenarios/The\ Solar\ System
/Scenarios/(Current\ state).scn
/Scenarios/2005\ Edition
/Scenarios/Checklists
/Scenarios/Delta-glider
/Scenarios/Demo
/Scenarios/Dragonfly
/Scenarios/Legacy\ Scenarios
/Scenarios/Navigation
/Scenarios/Quicksave
/Scenarios/Satellites\ and\ Probes
/Scenarios/Shuttle-A
/Scenarios/Space\ Shuttle\ Atlantis
/Scenarios/2006\ Edition
/Scenarios/Playback
/Scenarios/Tutorials
/Scenarios/Views
/Scenarios/IMFD51
/Scenarios/*.scn
/Scenarios/2010\ Edition
/Scenarios/LunarTransferMFD
/Scenarios/Vostok\ (Eng)
/Scenarios/Vostok\ (Rus)
