# CVS global ignores
Release
Debug
RCS
.svn
SCCS
CVS
CVS.adm
RCSLOG
cvslog.*
tags
TAGS
.make.state
.nse_depinfo
*~
#*
.#*
,*
_$*
*$
*.old
*.bak
*.BAK
*.orig
*.rej
.del-*
*.a
*.olb
*.o
*.obj
*.so
*.exe
*.Z
*.elc
*.ln
*.hgtags
core

# Project ignores (converted from .cvsignore files)
!/Config
/Config/*
!/Config/ProjectApollo
!/Config/Collision/ProjectApollo
!/Doc
/Doc/*
!/Doc/ProjectApollo - NASSP
/Html
!/Html/Ncpp.chm
!/Html/Project_Apollo.chm
!/Sound
/Sound/*
!/Sound/ProjectApollo
/Orbitersdk/
!/Orbitersdk/samples/ProjectApollo/
!/Meshes/
/Meshes/*
!/Meshes/ProjectApollo
/Install
!/Script
/Script/*
!/Script/ProjectApollo
/Textures/
!/Textures/ProjectApollo/
/Scenarios
!/Scenarios/ProjectApollo - NASSP
# Stuff that wasn't previously ignored

/Constell.bin
/Constell2.bin
/D3D9Client.cfg
/Device.dat
/Flights/
/Images/
/LuaInline.dll
/LuaInterpreter.dll
/Modules/
/Orbiter.cfg
/Orbiter.ico
/Orbiter.log
/OrbiterSound_Log.txt
/Orbiter_NG.cfg
/Star.bin
/Textures2/
/Utils/
/dxdiag.log
/install.log
/keymap.cfg
/keymap2006.cfg
/lua5.1.dll
/lvlog1b.txt
/lvlog5.txt
/lvlog.txt
/msvcp71.dll
/msvcr71.dll
/patch.txt
/pkey.ppk
/readme.txt
