BASE-V2.0
Name = Tranquillity-Base
Location = +23.4333 +0.6875
Size = 1000
ObjectSize = 1000

BEGIN_NAVBEACON
VOR TQLY 23.4533  0.6975 112.70 500
END_NAVBEACON

; === List of visuals ===
BEGIN_OBJECTLIST
MESH
	FILE ProjectApollo/tranbase 
	UNDERSHADOWS
	OWNMATERIAL
	POS -214 0.55 -99
	ROT 20
	PRELOAD
END
; Dummy-block, otherwise the vessel shadows are not working 
BLOCK
	POS 0 0 0
	SCALE 0 0 0
END
END_OBJECTLIST

;BEGIN_SURFTILELIST
;1 66 2 1
;1 66 1 1
;1 67 2 1
;1 67 1 1
;END_SURFTILELIST

