/* Background */
body { background-color: #ffffff }

/* Font selection */
ul,ol,dt,dl,th,td,h1,h2,h3,h4,p { font-family: Verdana, Arial, Helvetica, sans-serif }

/* Font styles */
p {  font-size: 10pt}

td { font-size: 10pt }
th { font-size: 10pt; font-weight: bold}

h1 { font-size: 16pt; font-weight: bold}
h2 { font-size: 14pt; font-weight: bold}
h3 { font-size: 12pt; font-weight: bold}
h4 { font-size: 10pt; font-weight: bold; font-style: italic}

/* Lists */
ul { font-size: 10pt }
ol { font-size: 10pt }

dt { font-size: 10pt }
dl { font-size: 10pt }

/* Classes */
.mediaobject { border: 0px; border-style: solid }
.programlisting { padding: 1; width: auto; margin: auto; font-family: Courier; border-style: solid; border-width: 1; white-space: pre; background-color: #fffff7 }
.literallayout { padding: 1; width: auto; margin: auto; border-style: solid; border-width: 1; background-color: #fffff7 }
.example { font-color: #ff7700; font-size: 8pt; font-style: italic}
.subtitle { font-size: 10pt; font-style: italic }
.releaseinfo { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt }
.address { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt }
