<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UnitTestsForSimmetrics.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UnitTestsForSimmetrics.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <UnitTestsForSimmetrics.Properties.Settings>
            <setting name="blockDistance1" serializeAs="String">
                <value>CHRISTOPHER PARKINSON,CHRIS PARKINSON, 0.500,0.00,0.762,0.265,0.50,0.01,0.01,0.01,0.667,0.738,0.634,0.50,0.293,0.333,0.50,1.0,0.50</value>
            </setting>
            <setting name="blockDistance2" serializeAs="String">
                <value>RUTH KATHERINE LANHAM,RUTH KATHERINE PARKINSON, 0.667,0.00,0.840,0.320,0.667,0.01,0.01,0.01,0.680,0.780,0.520,0.667,0.423,0.500,0.667,0.80,0.667</value>
            </setting>
            <setting name="jaroName1" serializeAs="String">
                <value>SHACKLEFORD,SHACKELFORD,0.970,0.982,1.00,0.165,0.090,0.818,0.727,0.01,0.818,0.909,0.692,0.0,0.0</value>
            </setting>
            <setting name="jaroName2" serializeAs="String">
                <value>DUNNINGHAM,CUNNIGHAM,0.896,0.896,0.90,0.144,0.00,0.833,0.778,0.01,0.800,0.850,0.522,0.0,0.0</value>
            </setting>
            <setting name="jaroName3" serializeAs="String">
                <value>NICHLESON,NICHULSON,0.926,0.956,1.00,0.136,0.00,0.778,0.667,0.01,0.778,0.889,0.636,0.0,0.0</value>
            </setting>
            <setting name="jaroName4" serializeAs="String">
                <value>JONES,JOHNSON,0.790,0.832,0.714,0.093,0.00,0.600,0.400,0.01,0.429,0.571,0.250,0.0,0.0</value>
            </setting>
            <setting name="jaroName5" serializeAs="String">
                <value>MASSEY,MASSIE,0.889,0.933,1.00,0.093,0.00,0.75,0.767,0.01,0.667,0.833,0.50,0.0,0.0</value>
            </setting>
            <setting name="jaroName6" serializeAs="String">
                <value>ABROMS,ABRAMS,0.889,0.922,1.00,0.093,0.00,0.667,0.933,0.01,0.833,0.917,0.625,0.0,0.0</value>
            </setting>
            <setting name="jaroName7" serializeAs="String">
                <value>JERALDINE,GERALDINE,0.926,0.926,1.00,0.136,0.00,0.889,0.956,0.01,0.889,0.944,0.727,0.0,0.0</value>
            </setting>
            <setting name="swName1" serializeAs="String">
                <value>SHACKLEFORD,SHACKELFORD,0.818,0.818,0.818,0.818</value>
            </setting>
            <setting name="swName2" serializeAs="String">
                <value>DUNNINGHAM,CUNNIGHAM,0.833,0.833,0.833,0.833</value>
            </setting>
            <setting name="swName3" serializeAs="String">
                <value>NICHLESON,NICHULSON,0.778,0.778,0.778,0.778</value>
            </setting>
            <setting name="swgName1" serializeAs="String">
                <value>SHACKLEFORD,SHACKELFORD,0.727,0.727,0.727,0.727</value>
            </setting>
            <setting name="swgName2" serializeAs="String">
                <value>DUNNINGHAM,CUNNIGHAM,0.778,0.778,0.778,0.778</value>
            </setting>
            <setting name="swgName6" serializeAs="String">
                <value>ABROMS,ABRAMS,0.933,0.933,0.933,0.933</value>
            </setting>
            <setting name="swgName7" serializeAs="String">
                <value>JERALDINE,GERALDINE,0.956,0.956,0.956,0.956</value>
            </setting>
            <setting name="swgName3" serializeAs="String">
                <value>NICHLESON,NICHULSON,0.667,0.667,0.667,0.667</value>
            </setting>
            <setting name="swgName4" serializeAs="String">
                <value>JONES,JOHNSON,0.400,0.400,0.400,0.400</value>
            </setting>
            <setting name="swgName5" serializeAs="String">
                <value>MASSEY,MASSIE,0.767,0.767,0.767,0.767</value>
            </setting>
            <setting name="swName4" serializeAs="String">
                <value>JONES,JOHNSON,0.600,0.600,0.600,0.600</value>
            </setting>
            <setting name="swName5" serializeAs="String">
                <value>MASSEY,MASSIE,0.750,0.750,0.750,0.750</value>
            </setting>
            <setting name="swName6" serializeAs="String">
                <value>ABROMS,ABRAMS,0.667,0.667,0.667,0.667</value>
            </setting>
            <setting name="swName7" serializeAs="String">
                <value>JERALDINE,GERALDINE,0.889,0.889,0.889,0.889</value>
            </setting>
            <setting name="swgaName1" serializeAs="String">
                <value>SHACKLEFORD,SHACKELFORD,0.727,0.727,0.727,0.727,0.727,0.727,0.727,0.727</value>
            </setting>
            <setting name="swgaName2" serializeAs="String">
                <value>DUNNINGHAM,CUNNIGHAM,0.778,0.778,0.778,0.778,0.778,0.778,0.778,0.778</value>
            </setting>
            <setting name="swgaName3" serializeAs="String">
                <value>NICHLESON,NICHULSON,0.667,0.667,0.667,0.667,0.667,0.667,0.667,0.667</value>
            </setting>
            <setting name="swgaName4" serializeAs="String">
                <value>JONES,JOHNSON,0.400,0.400,0.400,0.400,0.400,0.400,0.400,0.400</value>
            </setting>
            <setting name="swgaName5" serializeAs="String">
                <value>MASSEY,MASSIE,0.767,0.767,0.767,0.767,0.767,0.767,0.767,0.767</value>
            </setting>
            <setting name="swgaName6" serializeAs="String">
                <value>ABROMS,ABRAMS,0.933,0.933,0.933,0.933,0.933,0.933,0.933,0.933</value>
            </setting>
            <setting name="swgaName7" serializeAs="String">
                <value>JERALDINE,GERALDINE,0.956,0.956,0.956,0.956,0.956,0.956,0.956,0.956</value>
            </setting>
            <setting name="swgaName8" serializeAs="String">
                <value>CHRIS PARKINSON 10 ADOM COURT 61 THIKET ROAD SUTTON SM1 4PX, CHRISTOPHER lARKINSON FLAT 10 ADAM COURT 59-61 THICKET ROAD SUTTON, 0.725, 0.725, 0.725, 0.725, 0.725, 0.725, 0.725, 0.725, 0.725, 0.725, 0.725, 0.725, 0.725, 0.725, 0.725, 0.725</value>
            </setting>
        </UnitTestsForSimmetrics.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <UnitTestsForSimmetrics.Properties.Settings>
            <setting name="blockDistance3" serializeAs="String">
                <value>CHRIS PARKINSON 10 ADOM COURT 61 THIKET ROAD SUTTON SM1 4PX, CHRISTOPHER lARKINSON FLAT 10 ADAM COURT 59-61 THICKET ROAD SUTTON, 0.381, 0.0, 0.881, 0.687, 0.381, 0.725, 0.725, 0.725, 0.612, 0.642, 0.569, 0.381, 0.213, 0.235, 0.364, 0.860,0.40</value>
            </setting>
        </UnitTestsForSimmetrics.Properties.Settings>
    </userSettings>
</configuration>